.button{
    position: relative;
    float: left;
    z-index:1;
  padding: 20px 39px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  
  color: #3D7844 !important;
  background: #fff !important;
  border-color: #3D7844 !important;
  
  border: 2px solid green;
  border-radius: 3px;
  
}
.button:hover{
  color: #fff !important;
  border-color: #3D7844 !important;
  background-color: #3D7844 !important }